<style type="text/css">
    a{
        text-decoration: none;
        color:grey;
    }
    a:hover{
        color:#333;
        text-decoration: none;
    }
    .context-box{
        display: -webkit-flex;
        display: flex;
        background-color:#f1f1f1;
        border:1px solid #333;
        box-shadow: 10px 10px 5px #888888;
        padding: 5px 10px;
        display: none;
        flex-direction: row;
    }
    .context-box .context-btns{
        text-decoration: none;
        color: #333;
    }
    .context-box .context-btns i{
        font-size: 24px;
        padding: 10px;
        background-color: #fff;
        margin:2px 1px;
    }
    .context-box .context-btns i:hover{
        /*font-size: 24px;
        padding: 10px;*/
        background-color: #000;
        color: #fff;
        /*margin:2px 1px;*/
    }
    ._close{
        cursor:pointer;
        float:right;
    }

    .get_context_menu{
        cursor: pointer;
        color: #B1B1B1;
    }
    .get_context_menu:hover, .get_context_menu:active{
        color: #333;
    }
    .editor_choose{
        text-align: center;
        border:1px solid grey;
        padding: 20px;
    }
 /*====== TREE ======*/
    /*https://jsfiddle.net/Austin4Silvers/jjn9rh70/10/*/
    #tree {
        margin: 2em 0 0 2em;
        width: 20em;
        list-style-type: none;
    }

    #tree > li {
        padding-bottom: 3px;
        margin-bottom: 0.5em;
    }

    #tree  li > a {
        color: #333;
        text-decoration: none;

    }

    #tree  li > a:after {
        content: '-';
        padding-left: 4px;
        font-weight: bold;
    }

    #tree  li >a.active:after {
        content: '+';
        padding-left: 4px;
        font-weight: bold;
    }

    #tree li ul {
        margin: 0.5em 0 0.5em 2em;
        /*display: none;*/
        list-style-type: none;
    }


</style>
<section id="document_view">
    <div class="container">
        <div class="row text-right">
            <h2>Documentation</h2>
            <small>Document your effort with ease.</small>
        </div>
        <hr>
        <% flash.get('success').forEach(function (message) { %>
          <div class="alert alert-success">
              <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
              <strong>Well done!</strong> <%- message %>
          </div>
          <% }) %>
          <% flash.get('error').forEach(function (message) { %>
          <div class="alert alert-danger">
              <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
              <strong>Oh snap!</strong> <%- message %>
          </div>
        <% }) %>
        <div class="row">
            <%if(tree.length == 0){%>
                <div class="col-md-12">
                    <h3 class="text-center">Welcome to Dockety-Wiki!</h3>
                    <h4>
                        Lets start with creating your first document.
                        <a href="#" class="create_new_btn btn btn-default pull-right" data-path="/root" data-toggle="modal" data-target="#createNewModal"><i class="glyphicon glyphicon-home"></i> Create Document at root</a>
                    </h4>
                    <small></small>
                </div>
            <%}else{%>
                <div class="col-md-4" >
                    <ul id="tree">
                        <li>
                        <span class="get_context_menu" data-path="/root"><i class="glyphicon glyphicon-cog"></i></span>
                        <a href="#" class='tree-parent-anchor'> <i style="font-size: 23px;" class="glyphicon glyphicon-home"></i></a>
                        <%  function get_tree(tree) { %>
                            <ul>
                            <%  for(var i in tree){ %>
                                    <%if(tree[i].children.length > 0){ %>                                       
                                        <li>
                                            <span class="get_context_menu" data-path="<%= tree[i].path %>/<%= tree[i].title %>" ><i class="glyphicon glyphicon-cog"></i></span>
                                            <a href="#" class='tree-parent-anchor'> <%= tree[i].title %></a>
                                            <% get_tree(tree[i].children); %>
                                        </li>
                                    <% } else { %>
                                        <li><span class="get_context_menu" data-path="<%= tree[i].path %>/<%= tree[i].title %>"><i class="glyphicon glyphicon-cog"></i> </span><%= tree[i].title %> </li>
                                    <% } %>
                            <% } %> 
                            </ul>
                        <% } get_tree(tree); %>
                        </li>
                    </ul>
                </div>
            <%}%>
        </div>
    </div>
</section>
   <!-- Context-menu -->
    <div class="context-box">
        <!-- <input type="hidden" name="path"> -->
        <!-- <input type="hidden" name="title"> -->
        <span class="pull-right _close"><i class="glyphicon glyphicon-remove-circle"></i></span><br>
        <a class="context-btns" href="#"><i class="glyphicon glyphicon-search"></i></a>
        <a class="context-btns create_new_btn" href="#" data-path="" data-toggle="modal" data-target="#createNewModal"><i class="glyphicon glyphicon-plus"></i></a>
        <a class="context-btns" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createNewModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/createNew" id="createNewtypeForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i></button>
                        <h4 class="modal-title modal_mike">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Pick an editor of your choice</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <p class="editor_choose"> WYSIWYG editor </p>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <p class="editor_choose"> Markdown editor </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
